video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.hero-container {
  /* margin: 10px; */
  /* border-style: double;
  border-width: 4px;
  border-color: rgb(255, 255, 255); */
  background: black;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.hero-container > h1 {
  color: #fff;
  /* font-size: 100px; */
  margin-top: -100px;
}

.hero-container > p {
  margin-top: 230px;
  color: rgb(235, 137, 186);
  font-size: 32px;
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif; */
}
.hero-logo{
  /* display: flex; */
  width: 50%;
}
.hero-btns {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 23px;
  margin-top: 90px;
  width: 90%;
  /* font-size: medium; */
}

.hero-btns .btn {
  margin: 6px;
}
.hero-button{
  border-radius: 5px;
  background: linear-gradient(90deg, #64D3D7 0%, #B9B5E8 35% , #FFA2C9 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration:none;
  color: white;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-width: 1px;
  /* padding:3%; */
  width: 15%;
  height: 7vh;
  font-family: sans-serif;
  font-weight: bold;
}

.fa-play-circle {
  margin-left: 4px;
}

@media screen and (max-width: 960px) {
  .hero-btns {
    flex-direction: column;
    align-items: center;
  }
  .hero-button{
    color: white;
    padding:3%;
    width: 30%;
  
  }
  
}

@media screen and (max-width: 500px) {
  .hero-container > h1 {
    font-size: 50px;
    margin-top: -100px;
  }

  .hero-container > p {
    font-size: 30px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}
